nav{
    background-color: #FFFFFF;
    width: 100vw;
    height: 80px;
    position: sticky;
    top: 0;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    appearance: none;
    list-style: none;
    display: flex;
    align-items: center;
    padding: 5px 0;
}

#logo{
    margin-right: 6%;
}

#search{
    width: 50%;
    justify-content: space-between;
    border-bottom: 1px solid #7A7A7A;
}
#search input{
    box-shadow: 0;
    border: none;    
    font-size: 13px;
    width: 95%;
}
#search input:focus{
    outline: none;
}
#search input::placeholder{
    color: #7A7A7A
}

#account{}
#account svg{
    margin-right:6.5px;
}
#account span{
    color: #7A7A7A;
    font-size: 13px;
    height: 16px;
}

#minicart{}
#minicart__qtdproducts{
    width: 14px;
    height: 14px;
    margin-left: 5px;
    background-color: #F8475F;
    border-radius: 50%;
    font-weight: 700;
    color:#fff;
    font-size: 10px;
    text-align: center;
}